.example-spacer {
    flex: 1 1 auto;
  }

  .invalid {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}



.invalid-box{
    border: 1px solid #dc3545;
}

.invalid-box{
    border: 1px solid #dc3545;
}

.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

#box{
    padding:1em;
    background:#74AFAD;
    width:200px;
    font-family:Helvetica
  }
  
  #box h1, span{
    color:#FFFFFF;
    font-weight:normal
  }
  
  #box h1{
    font-size:1.4em;
    text-align:center;
    line-height:1.2;
  }
  
  #box span{
    font-size:4.4em;
    text-align:center;
    display:block;
  }

  .image{
      max-height: 50px;
  }